<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="BizumFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Catgento\Bizum\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Catgento\Bizum\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BizumValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">BizumCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <type name="Catgento\Bizum\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Catgento\Bizum\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <virtualType name="BizumGatewayCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="logger" xsi:type="object">Catgento\Bizum\Logger\Logger</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="BizumCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="authorize" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
                <item name="capture" xsi:type="string">Magento\Payment\Gateway\Command\NullCommand</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Commands infrastructure -->

    <!-- Value handlers infrastructure -->
    <virtualType name="BizumValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BizumConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BizumConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Catgento\Bizum\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <type name="Catgento\Bizum\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">Catgento\Bizum\Gateway\Config\Config</argument>
        </arguments>
    </type>

    <!-- Logger -->
    <type name="Catgento\Bizum\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Catgento\Bizum\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">BIZUM_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Catgento\Bizum\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
